
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Aprendiz.cshtml";
}

<h1 style="flex: 1;"> Bienvenido a GYM CONTROL</h1>
<hr />
<br />
<div style="display: flex; justify-content: flex-end; align-items: center;">
    <p style="margin-right: 250px; margin-left: 150px; font-size: 25px; font-weight: normal;">Ejercítate muy a menudo para tener una vida sana</p>
    <img src="~/Content/Images/gym.png" alt="Gym" style="width: 500px; height: auto;">
</div>


